:root {
    --main-bg-color: white;
    --main-fg-color: white;
    --main-text-color: black;
    --main-text-color-inverted: white;
    
    font-family: "Zilla Slab", serif;
}

body {
    margin: 0px;
    background-color: var(--main-bg-color);
}

nav {
    width: 100%;
    display: table;

    font-weight: 500;
    background-color: var(--main-fg-color);

    /* Keep navbar at top */
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

nav a {
    display: block;
    float: left;
    border: 2px solid;

    color: var(--main-text-color);
    background-color: var(--main-fg-color);
    border-color: var(--main-fg-color);
    text-decoration: none;

    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 7px;
    padding-right: 7px;
}

nav a:hover {
    color: var(--main-text-color-inverted);
    background-color: black;
    border-color: black;
}

.active {
    background-color: var(--main-bg-color);
    border-color: var(--main-bg-color);
}

.active:hover {
    color: black;
    background-color: var(--main-bg-color);
    border-color: var(--main-bg-color);
}

#title {
    margin-top: 5px;
    margin-bottom: 8px;
    font-size: 64px;
    text-align: center;
    font-weight: 800;
}

#links {
    text-align: center;
}

#links span + span {
    margin-left: 5px;
}

#links a {
    color: var(--main-text-color);
    text-decoration: none;
}

#links a:hover {
    text-decoration: underline;
}

#content {
    margin: 5px;
    padding: 5px;

    text-align: justify;

    background-color: white;
}

/* Dynamic resizing of the content */
@media (min-width: 30em) {
    #content {
        margin-left: auto;
        margin-right: auto;
        width: 75%
    }
}

@media (min-width: 65em) {
    #content {
        margin-left: auto;
        margin-right: auto;
        width: 50%
    }
}