body {
    margin: 0px;
    font-family: sans-serif;
    background-color: gray;
}

nav {
    width: 100%;
    display: table;

    font-weight: bold;
    background-color: white;

    /* Keep navbar at top */
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

nav a {
    display: block;
    float: left;
    border: 2px solid;

    color: black;
    background-color: white;
    border-color: white;
    text-decoration: none;

    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 7px;
    padding-right: 7px;
}

nav a:hover {
    color: white;
    background-color: black;
    border-color: black;
}

.active {
    background-color: gray;
    border-color: gray;
}

.active:hover {
    color: black;
    background-color: gray;
    border-color: gray;
}

#name {
    border: 2px solid;

    color: white;
    background-color: black;
    border-color: black;
}

#content {
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 50%;
    padding: 5px;

    border: 1px solid black;

    text-align: justify;

    background-color: white;
}

#title {
    margin-top: 5px;
    margin-bottom: 8px;
    font-size: 24px;
    text-align: center;
}