:root {
    --main-bg-color: white;
    --main-fg-color: white;
    --main-text-color: black;
    --main-text-color-inverted: white;

    --nav-height: 3rem;
    
    --title-font: 'Patua One', serif;
    --main-font: 'Roboto', sans-serif;
}

body {
    margin: 0;
    background-color: var(--main-bg-color);
    font-family: var(--main-font);
    line-height: 1.5rem;
}

img {
    width: 100%;
}

nav {
    width: 100%;
    height: var(--nav-height);
    z-index: 2;
    display: table;

    line-height: 2rem;
    background-color: var(--main-fg-color);

    /* Keep navbar at top */
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

nav a {
    display: block;
    float: left;
    border: 2px solid;

    color: var(--main-text-color);
    background-color: var(--main-fg-color);
    border-color: var(--main-fg-color);
    text-decoration: none;

    padding: 0.25rem 0.5rem;
}

nav a:hover {
    color: var(--main-text-color-inverted);
    background-color: black;
    border-color: black;
}

#content {
    /* Put content at top of page despite nav */
    position: relative;
    top: calc(-1 * var(--nav-height));
    padding: 1rem;
    padding-top: var(--nav-height);
    
    max-width: 60rem;
    margin: 0px auto;
}

#title {
    margin: 0;
    font-size: calc(3rem + 0.75 * ((100vw - 35rem) / 30));
    line-height: calc(3rem + ((100vw - 35rem) / 30));
    text-align: center;
    font-family: var(--title-font);
    font-weight: 800;
}

#links {
    text-align: center;
    line-height: 2rem;
}

#links span {
    display: inline-block;
    white-space: nowrap;
}

#links span + span {
    margin-left: 1rem;
}

#links a {
    color: var(--main-text-color);
    text-decoration: none;
}

#links a:hover {
    text-decoration: underline;
}

.preview {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5rem;
}

.preview .sidebar {
    margin-top: 1rem;
    margin-bottom: 1rem;
    flex-basis: 25%;
    flex-grow: 1;
    min-width: 10rem;
}

.preview p {
    margin: 1rem;
    flex-basis: 0;
    flex-grow: 999;
    min-width: 60%;
}

.section-title {
    font-family: var(--title-font);
    font-size: 2rem;
}